* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
#header {
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    grid-row: 1 / 2;

    display: grid;
    /* grid-template-columns: ; */
    padding: 20px;

}
#header #top-section {
    background-color: beige;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
}
#header #top-section #search {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr 50fr;
    align-items: center;
    gap: 10px;
}

#header #top-section #search img {
    width: 100%;
    grid-column: 1;
}
#header #top-section #search input {
    grid-column: 2;
    height: 30px;
    width: 670px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-indent: 10px;
}
#header #top-section #profile {
    background-color: rgb(196, 188, 144);
}


















#header #bottom-section {
    background-color: rgb(156, 156, 156);
}













#sidebar{
    background-color: rgb(87, 176, 228);
    grid-column: 1;
    grid-row: 1 / 3;
}
#main-content {
    background-color: rgb(179, 179, 179);
    grid-column: 2;
    grid-row: 2;
}