* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
#header {
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    grid-row: 1 / 2;
}
#sidebar{
    background-color: rgb(87, 176, 228);
    grid-column: 1;
    grid-row: 1 / 3;
}
#main-content {
    background-color: rgb(179, 179, 179);
    grid-column: 2;
    grid-row: 2;
}