* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, monospace, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: 1fr 10fr;
}
/* Start of Header Section */
/* ------------------------------------------------------------ */
#header {
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    grid-row: 1;

    display: grid;
    /* grid-template-columns: ; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}
#header #top-section {
    /* background-color: beige; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 40px;
}
#header #top-section #search {
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: 1fr 65fr;
    align-items: center;
    gap: 10px;
}

#header #top-section #search img {
    width: 100%;
    grid-column: 1;
}
#header #top-section #search input {
    background-color: rgb(216, 222, 231);
    grid-column: 2;
    height: 30px;
    width: 670px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-indent: 10px;
}
#header #top-section #profile {
    /* background-color: rgb(196, 188, 144); */
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    align-items: center;
    gap: 30px;
}
#header #top-section #profile img{
    /* width: 20px; */
    width: 100%;
}
#header #top-section #profile img#cat-logo{
    /* width: 50px; */
    width: 100%;
}
#header #top-section #profile p{
    font-size: 20px;
    font-style: bold;
    font-weight: 900;
}
#header #bottom-section {
    /* background-color: rgb(156, 156, 156); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 250px;
    padding-top: 20px;
}
#header #bottom-section #left-area {
    /* background-color: rgb(255, 1, 1); */

    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    gap: 20px;
}
#header #bottom-section #left-area img{
    width: 100%;
    grid-column: 1;
}

#header #bottom-section #left-area #texts{
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    font-weight: 700;
}
#header #bottom-section #left-area #texts #top-text{
    grid-row: 1;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#header #bottom-section #left-area #texts #bottom-text{
    grid-row: 2;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 26px;
}
#header #bottom-section #right-area{
    /* background-color: rgb(19, 3, 255); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}
#header #bottom-section #right-area .header-btn{
    width: 120px;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(0, 132, 255);
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
/* ------------------------------------------------------------ */


/* Start of Sidebar Section */
/* ------------------------------------------------------------ */
#sidebar{
    background-color: rgb(87, 176, 228);
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    padding: 20px;
    gap: 50px;
}
#sidebar #title {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    height: fit-content;
    gap: 10px;
}
#sidebar #title img {
    /* display: inline; */
    grid-column: 1;
    width: 100%;
}
#sidebar #title p {
    /* display: inline; */
    grid-column: 2;
    font-size: 28px;
    font-weight: bold;
    color: white;
    /* height: fit-content; */
}
#sidebar #first-section , #sidebar #second-section{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    height: fit-content;
    gap: 20px;
    padding-left: 20px;
}
#sidebar #second-section {
    grid-template-rows: repeat(3, 1fr);
}
#sidebar .list-item {
    color: white;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
}

















/* ------------------------------------------------------------ */
















/* Start of main-content Section */
/* ------------------------------------------------------------ */
#main-content {
    background-color: rgb(179, 179, 179);
    grid-column: 2;
    grid-row: 2;
}
/* ------------------------------------------------------------ */